.AppContainer {
    background-color: #F7F7F7;
    padding: 3.3% 6.6%; // ((1280px - 1110px) / 1280px) / 2 = 6.6%
}

.Seperator {
    color: #D8D8D8;
    background-color: #D8D8D8;
    border-style: none;
    height: 1px;
}