@import '../scss/variables.scss';

.HeaderContainer {
    display: flex;
    align-items: baseline;
}

.Title {
    display: inline-block;
}

.CartSummary {
    order: 2;
    font-family: 'Helvetica', sans-serif;
    color: $default-text-link;

    font-size: 14px;
    margin-left: auto;
    float: right;
    &:hover {
        color: $hover-text-link;
        fill: currentColor;
        cursor: pointer;
    }
}

.Active {
    color: $hover-text-link;
}