@import '../scss/mixins';

.Cart {
    display: flex;
    flex-direction: column; 
    height: 63vh;
}

.Title {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: -0.8px;
    margin: 5% 0; 
}

.Warning {
    @include absCenter;
    color: #9B9B9B;
    text-align: center;
    p {
        font-size: 21px;
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 300;
    }
    svg {
        width: 200px;   
    }
}

.WarningContainer {
    flex: auto;
    position: relative;
    margin: 0 auto;
}