@import '../scss/variables';
@import '../scss/mixins';

.Product {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 8px;
}

.Image {
    width: 40.1%;
    @include respond(phone){
        width: 100%;
    }
    img {
        width: 100%;
    }
}

.CartImage {
    width: 40.1%;
    img {
        width: 100%;
    }
}

.CartDescription {
    width: 59%;
    padding: 2% 5%;
}

.Description {
    width: 59%;
    padding: 2% 5%;
    @include respond(phone){
        width: 100%;
    }
}

.Title {
    display: inline-block;
    margin: 0;
    font-weight: 400;
    width: 50%;
}

.Info {
    display: flex;
    flex-direction: column;
    text-align: left; 
}

.Price {
    display: inline-block;
    width: 50%;
    text-align: right;
    font-weight: 100;
}

.LeftAlign {
    text-align: left;
}

.ClearBorderRadius {
    border-radius: 0;
}

.Remaining {
    font-size: 11px;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #9b9b9b;
}

.ButtonContainer {
    margin-top: 20%;
    @include respond(phone){
        margin-top: 0;
        padding: 3% 0;
    }
}

.Button {
    border-radius: 20.5px;
    padding: 1em 2.17em;
    border-color: $default-button-primary;
    background-color: $default-button-primary;
    color: white;
    text-transform: uppercase;

    @include respond(phone){
        position: static;
    }
    
    &:hover {
        cursor: pointer;
        border-color: $hover-button-primary;
        background-color: $hover-button-primary; 
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        opacity: .5;
    }
}

.RemoveButton {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #CC1D39;
    border: none;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}
