// FONT
$default-font-style: 'Chivo', sans-serif;
$default-font-size: 14px;

// Color
$default-button-primary: #5E97D1;
$hover-button-primary: #407FC0;

$default-button-secondary: #F5F5F5;
$hover-button-secondary: #5E97D1;

$default-text-link: #292929;
$hover-text-link: #407FC0;

